{%- capture images_json -%}
  [
  {%- if banner_product.images != blank -%}
    {%- for image in banner_product.images -%}
      "{{ image | image_url: width: 800 }}"{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  {%- else -%}
    "{{ 'product-placeholder.jpg' | asset_url }}"
  {%- endif -%}
  ]
{%- endcapture -%}

<div class="js-gallery max-w-[568px] w-full flex items-center flex-col-reverse gap-6 mx-auto xl:max-w-[650px] xl:items-start xl:flex-row xl:justify-between xl:mx-0" data-all-images='{{ images_json | strip_newlines }}'>
  <div class="js-thumbs m-0 w-full px-[15px] opacity-100 transition-opacity duration-300 flex gap-4 xl:w-[88px] xl:p-0 xl:flex-col xl:flex-wrap xl:gap-0"></div>
  <div class="js-main aspect-square m-0 rounded-lg overflow-hidden"></div>
</div>

{%- if banner_product.tags contains "Highly Rated" -%}
    <p class="inline-flex items-center justify-center gap-1.5 px-2 py-1 text-dark bg-white rounded-lg text-[14px] m-0 absolute top-4 left-4 z-10 md:left-[130px]">
      <img src="{{ 'icon-star.svg' | asset_url }}" class="block" alt="Star" width="16" height="16">
      Highly Rated
    </p>
  {%- endif -%}