<p class="text-dark mb-4">Select Size:</p>

<div class="grid grid-cols-3 gap-2 w-full mx-auto">
  {%- assign sizes = banner_product.variants | map: 'option2' | uniq -%}
  {%- for size in sizes -%}
    {%- assign variant = banner_product.variants | where: 'option2', size | first -%}
    {%- if variant -%}
      <button 
        type="button" 
        class="js-size-btn p-3 text-sm leading-md bg-white border border-stroke rounded-lg cursor-pointer hover:border-gray-light w-full h-[48px] flex items-center justify-center"
        data-variant-id="{{ variant.id }}"
        data-available="{{ variant.available }}"
      >
        EU {{ size }}
      </button>
    {%- endif -%}
  {%- endfor -%}
</div>
