<p class='text-dark mb-4'>Select Size:</p>

<div class='flex flex-wrap justify-between gap-2 sm:gap-3 mb-12'>
  {%- assign sizes = banner_product.variants | map: 'option2' | uniq -%}
  {%- for size in sizes -%}
    {%- assign variant = banner_product.variants
      | where: 'option2', size
      | first
    -%}
    {%- if variant -%}
      <button
        type='button'
        class='js-size-btn text-sm leading-md bg-white border border-stroke rounded-lg cursor-pointer hover:border-gray-light h-(--size-48) flex items-center justify-center w-(--percent-32) transition-colors duration-200'
        data-variant-id='{{ variant.id }}'
        data-available='{{ variant.available }}'
      >
        EU {{ size }}
      </button>
    {%- endif -%}
  {%- endfor -%}
</div>
