<script src="{{ 'banner-product.js' | asset_url }}" defer></script>

{%- liquid
  assign banner_product = nil
  
  if section.settings.product != blank
    assign banner_product = all_products[section.settings.product]
  endif
-%}

{%- if banner_product == nil or banner_product == blank -%}
  <div class="text-center py-8">
    Product not found or not selected.
  </div>
{%- else -%}

<div class="flex items-start flex-col gap-6 xl:flex-row xl:w-full mx-auto xl:justify-center ">
  {% render 'banner-product-gallery', banner_product: banner_product %}
  {% render 'banner-product-content', banner_product: banner_product %}
</div>


{%- endif -%}


{% schema %}
{
  "name": "Banner Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Banner Product Section"
    }
  ]
}
{% endschema %}

