{{ 'designer-cards.css' | asset_url | stylesheet_tag }}

<section class="designer-cards">
  <div class="designer-cards__container">
    {% if section.settings.heading != blank %}
      <h2 class="designer-cards__title">{{ section.settings.heading }}</h2>
    {% endif %}

    {% assign target_collection = section.settings.selected_collection | default: collection %}
    {% assign designers = target_collection.metafields.custom.designers.value %}


    {% if designers %}
      <div class="designer-cards__grid">
        {% for d in designers limit: section.settings.limit %}
          {% render 'designer-card', d: d %}
        {% endfor %}
      </div>
    {% else %}
      <p>No products have been added to this collection yet...</p>
    {% endif %}
  </div>

  {% if section.settings.selected_collection %}
  <div class="designer-cards__actions">
    <a href="{{ section.settings.selected_collection.url }}" class="designer-cards__button">
      Show all Products
    </a>
  </div>
{% endif %}

 {% schema %}
{
  "name": "Designer cards",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Our Teams of Designers"
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Collection to show designers from"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Number of designers to display",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button text",
      "default": "Show all Products"
    }
  ],
  "presets": [
    {
      "name": "Designer cards"
    }
  ]
}
{% endschema %}
</section>
